<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abdelrahman.irihackathon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_small"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logo_small"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ManualSection.ManualCard"></activity>
        <activity android:name=".ExperienceSection.BedouinFoodActivity" />
        <activity android:name=".ExperienceSection.AdventureActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ManualSection.ManualDashboardActivity" />
        <activity android:name=".DictionarySection.DictionaryActivity" />
        <activity android:name=".ManualSection.AddActivity" />
        <activity android:name=".ManualSection.SongsActivity" />
        <activity android:name=".ManualSection.ClothingActivity" />
        <activity android:name=".ManualSection.MedicineActivity" />
        <activity android:name=".ManualSection.CarpetActivity" />
        <activity android:name=".ExperienceSection.ExperienceDashboardActivity" />
        <activity android:name=".QuestionSection.AddQuestionsActivity" />
        <activity android:name=".QuestionSection.QuestionsActivity" />
        <activity android:name=".QuestionSection.QuestionCardActivity" />
        <activity android:name=".QuestionSection.AddAnswerActivity" />
        <activity android:name=".ManualSection.CookingActivity" />
        <activity android:name=".DictionarySection.AddDictionaryActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".BedouinQuestionsActivity" />
        <activity android:name=".WrongBedouin" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>